/* css of Discover Story on Home page */

.homePage {
  background-image: url("https://images8.alphacoders.com/134/1347727.png");
  background-size: cover;
  background-position: center;
  color: aliceblue;
}

.homePage::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: -1;
}
.homeContent{
  padding: 30px 10px 0px;
}
.story{
  margin: 30px 10px;
  padding: 20px;
  background-color: rgba(226, 209, 186, 0.60) ;
  
}
.headOfStory {
  font-family: "Sofia", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #65451F;
}
.storyText{
  color: rgb(35, 24, 13);
  font-size: 20px;
}

.row mt-5{
  margin: 10px;
}

/* .storyText {
    Add styles for the story text here 
  } */

.read-more-btn {
  background-color: rgb(51, 51, 51);
  color: white; /* Set font color to white */
  border-radius: 5px; /* Set border radius to make it somewhat rounder */
  padding: 10px 20px; /* Add padding for better appearance */
  border: none; /* Remove border */
  cursor: pointer; /* Add pointer cursor on hover */
}

.read-more-btn:hover {
  opacity: 0.8; /* Reduce opacity on hover for visual feedback */
}
footer {
  margin-top: 30px;
  bottom: 0;
  width: 100%;
  background-color: #7797b2;
  padding: 10px;
  text-align: center;
}

.footerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
  align-items: flex-start;
  font-size: 18px;
}

.horizontal-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.horizontal-section .headings {
  font-size: 20px;
  font-weight: bold;
}

.vertical-section {
  gap: 10px;
}

.jumbotron {
  padding-top: 60px;
}

.aboutPage {
  background-image: url("https://images3.alphacoders.com/134/1347726.png");
  background-size: cover;
  background-position: center;
  color: aliceblue;
}

.aboutPage::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: -1;
}
.about-section {
  padding-bottom: 50px;
  padding-top:0px;
}

.about-img {
  border-radius: 10%;
  max-width: 250px;
}

.display-4 {
  font-weight: bold;
  font-size: 40px;
}
.row {
  margin: 20px;
  margin-top: 5px;
}

.storyTitle {
  display: flex;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.ftmenu{
  margin: 30px 10px;
  padding-bottom: 50px;
  background-color: rgba(229, 184, 167, 0.2) 
}
.featured-menu {
  font-family: "Sofia", sans-serif;
  color: greenyellow;
  font-size: 40px;
  font-size: 80px;
}
.featured-menu .feat {
  font-family: "Sofia", sans-serif;
  font-size: 70px;
  font-weight: bold;
  color: greenyellow;
}



.featured-menu .menu {
  font-family: "Sofia", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: rgb(96, 159, 48);
}

.description {
  font-family: "Times New Roman", sans-serif;
  font-size: 18px;
  color: bisque;
}

.reservation {
  padding-top: 40px;
}

.scroll {
  padding-left: 70px;
  padding-top: 100px;
  padding-right: 70px;
}

.container_contact {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  /* padding: 30px 20px; Removed redundant padding values */
  justify-content: center;
  align-items: center; /*Added alignment to center*/
  /* margin-left: 30px; */
  background-image: url("https://images3.alphacoders.com/210/210105.jpg")
}

.ver_box1 {
  display: flex;
  flex-direction: row;
  padding: 30px 20px;
  align-items: center;
  margin-right: 30px;
  margin-left: 30px;
}

.ver_box11,
.ver_box12,
.ver_box13 {
  padding: 20px 30px;
  margin: 50px 30px;
  border: 2px solid black;
  height: 400px;
  width: 400px;
  background-color: rgb(222, 199, 233);
  color: black;
  border: solid;
  border-radius: 5px;
  border-style: outset;
  border-color: rgb(212, 179, 96);
  border-width: 5px;
  font-size: 20px;
}

.ourinfo {
  margin: 10px;
  margin-bottom: 40 px;
  padding: 20px;
}

.addressTitle,
.followTitle,
.emailTitle,
.callTitle,
.timeTitle {
  font-size: 30px;
}

.foodType {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  padding: 20px;
  align-content: center;
  justify-content: center;
  background-color: rgb(129, 176, 184);
}
.foodTypeTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: rgb(206, 218, 223); /* Green background color */
  color: #184d47; /* White text color */
  padding: 10px;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold; /* Bold font weight */
  text-transform: uppercase; /* Uppercase text */
  margin-bottom: 20px; /* Add margin to separate from other elements */
  font-size: 40px;
}
.menucontainer {
  display: flex;
  flex-direction: column;
  /* border: solid;
  border-color: black;
  border-width: 1px; */
  flex-grow: 1;
  width: 100%;
  align-self: center;
}
.menuBody {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  width: auto;
  /* border: 5px solid black; */
  background-color: black;
  color: white;
  height: 100px;
  font-size: 25px;
  padding: 0px;
  margin-left: 0px;
  transition: box-shadow 0.3s ease;
}

.menuBody:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
}
.menuContent,
.pics {
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-left: 0px;
  width: 100px;
}
.menuContent {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
}
.pics img {
  align-items: flex-end;
  
  align-items: center;
  text-align: center;
  align-content: center;
  height: 100px;
  width: 120px;
  /* margin-right: 20px; */
}

.itemName,
.prices {
  margin: 4px;
  padding: 2px;
}

.foodpic {
  display: block;
  max-width: 100%;
  max-height: fit-content;
  height: 70px;
  width: 70px;
}

.menuPage {
  position: relative;
  background-image: url("https://static.vecteezy.com/system/resources/previews/006/823/934/original/set-icons-with-foods-doodle-with-foods-icons-on-black-background-vintage-food-set-icons-sweet-elements-background-for-your-project-menu-cafe-shop-free-vector.jpg");
  
}

.menuPage::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.175);
  z-index: -1;
}

.itemName {
  margin-right: 10px;
  vertical-align: center;
}

.prices {
  margin-left: auto;
}

.dropdown-toggle::after {
  display: none !important; /* Hide the dropdown arrow */
}

/* Show dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* Adjust the margin to align with the menu item */
}

.dropdown-menu {
  border: none; /* Remove border */
  background-color: #fff; /* Set background color */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.dropdown-item {
  color: #333; /* Set text color */
}

.dropdown-item:hover {
  background-color: #f8f9fa; /* Change background color on hover */
}

.quantity {
  padding: 10px;
}



 
 .fullmenu{
  display:flex;
  flex-direction: row;
  /* justify-content: left; */
 }

 .food{
  margin-left: 40px;
  margin-top: 120px;
  width: 800px;
 }




.billDetails {
  color: black;
  width: 35%;
  background-color: rgb(213, 229, 202);
  margin-top: 120px;
  max-height: 600px; /* Change height to max-height */
  margin-left: 900px;
  margin-right: 30px;
  position: fixed;
  border: 5px solid black;
  overflow-y: auto; /* Enable vertical scrolling */
  display: flex;
  flex-direction: column;
  height:700px;
}

#orderSummary .heading{
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold; 
  /* text-transform: uppercase;  */
  font-size: 40px;
  margin-bottom: 20px; /* Add margin between order summary and total bill */
  text-align: center;
  color: black;
  border: 2px black solid;
  background-color: rgb(221, 170, 30);
  margin: 20px;
}

.orders{
  color:black;
  padding-left: 20px;
  font-size: 20px;
  border: 1px solid black;
  padding:10px;
  margin: 20px;
  background-color: #c3dca9;
  color: black;
}


#totalBill {
  margin-left: 20px; /* Align to the right*/
  background-color: rgb(253, 204, 69);
  margin-top: auto; 
  height: 50px;
  text-align: right;
  font-size: 35px;
  padding-bottom: 20px;
  padding-right: 10px;
  font-weight: bold;
  margin-right:20px;
  border: 2px solid black;
  margin-bottom: 20px;
} 

.reservationPage{
  background-image: url("https://images2.alphacoders.com/132/1325726.png");
  background-size: cover;
  background-position: center;
  color: antiquewhite;
}

.reservationPage::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  z-index: -1;
}

.reservationform{
  font-size: 25px;
}

.book{
  height: 60px;
  width:120px;
  font-size: 50px;
}
.container .mt-5 .reservation .btn{
  font-size: inherit;
}

.carousel-item {
  position: relative;
  padding-top: 28px;
  height:750px;
   /* Set the height of carousel items to cover the entire viewport */
}

.carousel-caption {
  position: absolute;
  top: 40%; /* Adjusted to move the box closer to the top */
  left: 10%; /* Adjusted to move the box to the left */
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(184, 15, 15);
  padding: 40px;
  font-family: "Sofia", sans-serif;
  font-size: 50px;
  margin-top: -20px; /* Half of the caption height to center vertically */
  margin-left: -320px; /* Adjusted margin-left to shift the text a little to the left */
  height: 300px; /* Decreased height to cut from the bottom */
  width:1200px;
  line-height: 0px;
}

#carouselFeaturedMenu{
  height: 300px;
}

