/* css of Discover Story on Home page */
.headOfStory {
    color: green; 
    font-size: 24px; 
  }
  
  .storyText {
    /* Add styles for the story text here */
  }
  
  .read-more-btn {
    background-color: red; 
    color: white; /* Set font color to white */
    border-radius: 5px; /* Set border radius to make it somewhat rounder */
    padding: 10px 20px; /* Add padding for better appearance */
    border: none; /* Remove border */
    cursor: pointer; /* Add pointer cursor on hover */
  }
  
  .read-more-btn:hover {
    opacity: 0.8; /* Reduce opacity on hover for visual feedback */
  }
  